openapi: 3.0.0
info:
  version: 1.0.0
  title: BillaBear
  description: The REST API provided by BillaBear
  license:
    name: BUSL-1.1
  contact:
    name: API Support
    url: 'http://www.billabear.com/support'
    email: support@billabear.com
servers:
  - url: 'http://demo.billabear.com/v1'
tags:
  - name: Billing
paths:
  /customer:
    get:
      summary: List
      operationId: listCustomers
      description: List all customers
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last_key'
        - $ref: '#/components/parameters/email'
        - $ref: '#/components/parameters/country'
        - $ref: '#/components/parameters/reference'
        - $ref: '#/components/parameters/external_reference'
      responses:
        '200':
          description: A paged array of customers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  has_more:
                    type: boolean
                  last_key:
                    type: string
                    format: uuid
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create
      operationId: createCustomer
      description: Create a customer
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/customer/{customerId}':
    get:
      summary: Detail
      operationId: showCustomerById
      description: Info for a specific customer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: Update
      operationId: UpdateCustomer
      description: Update a customer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '202':
          $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/customer/{customerId}/payment-details/frontend-payment-token':
    get:
      summary: Start Frontend Detail Collection
      operationId: startFrontendPaymentDetails
      description: Start frontend payment details
      tags:
        - PaymentDetails
      parameters:
        - $ref: '#/components/parameters/customerId'
      responses:
        '200':
          description: A paged array of customers
          content:
            application/json:
              schema:
                $ref: '#/paths/~1customer~1%7BcustomerId%7D~1payment-details~1frontend-payment-token/post/requestBody/content/application~1json/schema'
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Complete Frontend Detail Collection
      operationId: completeFrontendPaymentDetails
      description: Complete frontend payment details
      tags:
        - PaymentDetails
      parameters:
        - $ref: '#/components/parameters/customerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  example: dummy-token-here
      responses:
        '201':
          type: object
          required:
            - country
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
              nullable: true
            default:
              type: boolean
            brand:
              type: string
              nullable: true
              example: visa
            last_four:
              type: string
              example: 0484
            expiry_month:
              type: string
              example: 1
            expiry_year:
              type: string
              example: 26
            created_at:
              type: string
              format: datetime
        default:
          $ref: '#/components/responses/UnexpectedError'
  /product:
    get:
      summary: List
      operationId: listProduct
      description: List all products
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last_key'
        - $ref: '#/components/parameters/name'
      responses:
        '200':
          description: A paged array of products
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  has_more:
                    type: boolean
                  last_key:
                    type: string
                    format: uuid
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create
      operationId: createProduct
      description: Create a product
      tags:
        - Products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          $ref: '#/components/responses/NullResponse'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/product/{productId}':
    get:
      summary: Detail
      operationId: showProductById
      description: Info for a specific product
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/UnexpectedError'
    put:
      summary: Update
      operationId: UpdateProduct
      description: Update a product
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/productId'
      responses:
        '202':
          $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/UnexpectedError'
  '/product/{productId}/price':
    get:
      summary: List
      operationId: listPrice
      description: List all prices
      tags:
        - Prices
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last_key'
      responses:
        '200':
          description: A paged array of prices for a product
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/paths/~1product~1%7BproductId%7D~1price/post/requestBody/content/application~1json/schema'
                  has_more:
                    type: boolean
                  last_key:
                    type: string
                    format: uuid
        default:
          $ref: '#/components/responses/UnexpectedError'
    post:
      summary: Create
      operationId: createPrice
      description: Create a price
      tags:
        - Prices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
                - recurring
              properties:
                id:
                  type: string
                  format: uuid
                  readOnly: true
                amount:
                  type: integer
                  example: 1000
                currency:
                  type: string
                  example: EUR
                  description: Three-letter ISO currency code. Must be upper-case
                external_reference:
                  type: string
                  nullable: true
                recurring:
                  type: boolean
                  example: false
                schedule:
                  type: string
                  enum:
                    - week
                    - month
                    - year
                  nullable: true
                  description: Required if recurring is true
                including_tax:
                  type: boolean
                  nullable: true
                  description: If the price is including tax. If false tax will be added on top of the price.
                public:
                  type: boolean
                  nullable: true
      responses:
        '201':
          $ref: '#/components/responses/NullResponse'
        default:
          $ref: '#/components/responses/UnexpectedError'
components:
  parameters:
    customerId:
      name: customerId
      in: path
      required: true
      description: The id of the customer to retrieve
      schema:
        type: string
    productId:
      name: product
      in: path
      required: true
      description: The id of the product to retrieve
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: How many items to return at one time (max 100)
      required: false
      schema:
        type: integer
        format: int32
    last_key:
      name: last_key
      in: query
      description: The key to be used in pagination to say what the last key of the previous page was
      required: false
      schema:
        type: string
    email:
      name: email
      in: query
      description: The email to search for
      required: false
      schema:
        type: string
    country:
      name: country
      in: query
      description: The country code to search for
      required: false
      schema:
        type: string
    reference:
      name: reference
      in: query
      description: The reference to search for
      required: false
      schema:
        type: string
    external_reference:
      name: external_reference
      in: query
      description: The external reference to search for
      required: false
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name to search for
      required: false
      schema:
        type: string
  schemas:
    Customer:
      type: object
      required:
        - email
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          example: iain.cambridge@example.org
        reference:
          type: string
          example: internal-id
        external_reference:
          type: string
        address:
          type: Address
    Product:
      type: object
      required:
        - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        external_reference:
          type: string
          nullable: true
          description: The reference given by the payment provider
    Address:
      $red: ./Address.yaml
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  responses:
    UnexpectedError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NullResponse:
      description: Null response
