openapi: "3.0.0"
info:
  version: 1.0.0
  title: BillaBear
  description: The REST API provided by BillaBear
  license:
    name: BUSL-1.1
  contact:
    name: API Support
    url: http://www.billabear.com/support
    email: support@billabear.com
servers:
  - url: http://demo.billabear.com/v1
tags:
  - name: Billing
paths:
  /customer:
    $ref: "./resources/customers/customers.yaml"
  /customer/{customerId}:
    $ref: "./resources/customers/customer.yaml"
  /customer/{customerId}/voucher:
    $ref: "./resources/customers/applyVoucher.yaml"
  /customer/{customerId}/disable:
    $ref: "./resources/customers/disable.yaml"
  /customer/{customerId}/enable:
    $ref: "./resources/customers/enable.yaml"
  /customer/{customerId}/limits:
    $ref: "./resources/customers/limits.yaml"
  /customer/{customerId}/refund:
    $ref: "./resources/customers/refund.yaml"
  /customer/{paymentId}/payment:
    $ref: "./resources/customers/payment.yaml"  
  /customer/{customerId}/payment-details/frontend-payment-token:
    $ref: "./resources/paymentDetails/frontendPaymentDetails.yaml"
  /customer/{customerId}/payment-details/{paymentDetailsId}:
    $ref: "./resources/paymentDetails/paymentDetail.yaml"    
  /customer/{customerId}/payment-details:
    $ref: "./resources/paymentDetails/paymentDetails.yaml"  
  /customer/{customerId}/payment-details/{paymentDetailsId}/default:
    $ref: "./resources/paymentDetails/makeDefault.yaml"
  /customer/{customerId}/subscription/start:
    $ref: "./resources/subscriptions/customerStart.yaml"
  /payment:
    $ref: "./resources/payments/list.yaml"  
  /payment/{paymentId}/refund:
    $ref: "./resources/payments/refund.yaml"  
  /refund:
    $ref: "./resources/refunds/list.yaml"  
  /refund/{refundId}:
    $ref: "./resources/refunds/refund.yaml"  
  /product:
    $ref: "./resources/products/products.yaml"
  /product/{productId}:
    $ref: "./resources/products/product.yaml"
  /product/{productId}/price:
    $ref: "./resources/products/prices.yaml"
  /subscription:
    $ref: "./resources/subscriptions/subscriptions.yaml"  
  /subscription/{subscriptionId}:
    $ref: "./resources/subscriptions/subscription.yaml"  
  /subscription/{subscriptionId}/cancel:
    $ref: "./resources/subscriptions/cancel.yaml"  
  /subscription/{subscriptionId}/plan:
    $ref: "./resources/subscriptions/subscriptionPlan.yaml"  
components:
  parameters:
    $ref: "./parameters/_index.yaml"
  schemas:
    $ref: "./schemas/_index.yaml"
  responses:
    $ref: "./responses/_index.yaml"